.call-out {
    background: $blueGradient;
    height: 100vh;
    .nav-bar {
        background: #187ed9 !important;
       
    .arrow-down {
        i {
            color: red;
            font-size: 16px;
        }
    }
}
}
