.call-out {
    background: $blueGradient;
    height: 100vh;
    .nav-bar {
        background: transparent;
        .navbar-nav {
            .navbar-collapse {
                a {
                    color: white !important;
                }
            }
        }
    }
    .arrow-down {
        i {
            color: red;
            font-size: 16px;
        }
    }
}
