.contact-us {
    margin: 150px 0;
    .contact-panel {
        background: #1880dc;
        padding: 35px;
        // height: 100%;
        padding-bottom: 60px;
        border-radius: 6px;
        h2 {
            text-transform: uppercase;
            color: white;
            font-weight: 400;
            margin: 35px 0;
        }
        .form-control {
            background: #1880dc;
            border: none;
            border-radius: 0;
            color: white;
            border-bottom: 2px solid white;
        }
        .btn-submit {
            color: $lightBlue;
            background: white;
        }
    }
    // FAQ
    .faq {
        display: flex;
        flex-direction: column;
        justify-content: center;
        h2 {
            color: $red;
            font-weight: lighter;
        }

        ul {
            margin-top: 44px;
            li {
                font-family: "Space Grotesk", sans-serif;

                border-top: 1.3px solid $red;
                padding: 30px 0;
                color: #666666;
                .uk-accordion-title::before {
                    // display:  ;
                    fill: $red;
                    color: $red;
                    width: 0px;
                    height: 0px;
                }
            }
        }
    }
}
@media (min-width: 768px) {
    .contact-us {
        .contact-panel {
            .btn-submit {
                width: 30%;
            }
        }
    }
}
