footer {
    background: $blueGradient;
    // height: 70vh;
    letter-spacing: 0.3px;
    .box-logo {
        background: url("../img/rect-clipped.svg");
        background-repeat: no-repeat;
        padding: 30px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        img {
            width: 100px;
            height: 50%;
        }
    }
    .creator {
        a {
            color: black;
        }
    }
    .headings {
        font-size: 22px;
    }
}
@media screen and (max-width:768px){
    .creator{
        justify-content: center !important;
        text-align: center !important;
    }
}