body {
  color: #707070;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  line-height: 25px;
}

h1 {
  font-family: "Space Grotesk", sans-serif;
  font-size: 36px;
}

.company-profile {
  margin: 200px 0;
}

.company-profile p {
  margin-bottom: 0;
}

.company-profile .text {
  padding-right: 20px;
  padding-bottom: 20px;
}

.company-profile .text h1 {
  color: #1880dc;
  margin-bottom: 10px;
}

.company-profile .text p {
  font-size: 18px;
}

.company-profile .row .col-md-6,
.company-profile .row .col-md-3 {
  padding: 0 1.5px;
}

h1,
h2 {
  font-family: "Space Grotesk", sans-serif;
}

.call-out {
  background: -webkit-gradient(linear, left bottom, left top, from(#0a4475), to(#187ed9));
  background: linear-gradient(to top, #0a4475, #187ed9);
  height: 100vh;
}

.call-out .nav-bar {
  background: transparent;
}

.call-out .nav-bar .navbar-nav .navbar-collapse a {
  color: white !important;
}

.call-out .arrow-down i {
  color: red;
  font-size: 16px;
}

.about-us {
  padding: 80px 0 80px;
  position: relative;
  background: -webkit-gradient(linear, left bottom, left top, from(#0a4475), to(#187ed9));
  background: linear-gradient(to top, #0a4475, #187ed9);
}

.about-us h1 {
  color: white;
  font-family: "Space Grotesk", sans-serif;
  margin-bottom: 20px;
}

.about-us > div {
  margin-bottom: 70px;
}

.about-us .tabs .active {
  background: red !important;
  color: white !important;
}

.about-us .tabs .active .fa-arrow-alt-circle-right {
  display: inline-block !important;
}

.about-us .tabs .nav-link {
  background: white;
  color: inherit;
  margin-bottom: 2px;
  border-radius: 0;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-us .tabs .nav-link .fa-arrow-alt-circle-right {
  font-size: 20px;
  display: none;
}

.about-us .tab-content .tab-pane {
  height: 100%;
}

.about-us .tab-content .tab-pane .download {
  padding-top: 25px;
  font-weight: lighter;
  text-decoration: underline;
}

.about-us .cars-end {
  width: 70%;
  position: absolute;
  bottom: 0;
  right: 30px;
}

@media (min-width: 992px) {
  .about-us .cars-end {
    width: 45%;
  }
}

.our-fleet {
  margin: 200px 0;
}

.our-fleet h1 {
  font-family: "Space Grotesk", sans-serif;
  margin-bottom: 20px;
}

.our-fleet h1 span {
  color: #f52727;
  font-weight: bold;
}

.our-fleet .fleet-showcase {
  margin-top: 100px;
}

.our-fleet .fleet-showcase .book-now {
  background: #f52727;
  height: 85%;
  text-align: center;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: mixed;
  border-radius: 3px;
}

.our-fleet .fleet-showcase .book-now h1 {
  color: white;
}

.our-fleet .tabs {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.our-fleet .tabs .active {
  background: #f52727 !important;
  color: white !important;
  width: 100% !important;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-transition-property: width;
  transition-property: width;
}

.our-fleet .tabs .active img {
  display: inline !important;
}

.our-fleet .tabs .nav-link {
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-transition-property: width;
  transition-property: width;
  background: #1880DC;
  color: white;
  width: 100%;
  margin-bottom: 2px;
  border-radius: 0;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.our-fleet .tabs .nav-link img {
  font-size: 20px;
  display: none;
}

@media (min-width: 992px) {
  .our-fleet .tabs .nav-link {
    width: 85%;
  }
}

.bookings {
  margin-top: 150px;
  background: -webkit-gradient(linear, left bottom, left top, from(#0a4475), to(#187ed9));
  background: linear-gradient(to top, #0a4475, #187ed9);
}

.bookings .bookings-form {
  padding: 150px 0;
}

.bookings .bookings-form label {
  color: white;
}

.bookings .bookings-form .dates {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bookings .bookings-form .dates .form-group {
  width: 40%;
}

.bookings .bookings-form .btn-submit {
  text-transform: uppercase;
  color: #1880DC;
}

@media (min-width: 768px) {
  .bookings .bookings-form .btn-submit {
    width: 30%;
  }
}

.contact-us {
  margin: 150px 0;
}

.contact-us .contact-panel {
  background: #1880dc;
  padding: 35px;
  padding-bottom: 60px;
  border-radius: 6px;
}

.contact-us .contact-panel h2 {
  text-transform: uppercase;
  color: white;
  font-weight: 400;
  margin: 35px 0;
}

.contact-us .contact-panel .form-control {
  background: #1880dc;
  border: none;
  border-radius: 0;
  color: white;
  border-bottom: 2px solid white;
}

.contact-us .contact-panel .btn-submit {
  color: #1880DC;
  background: white;
}

@media (min-width: 768px) {
  .contact-us .contact-panel .btn-submit {
    width: 30%;
  }
}
/*# sourceMappingURL=style.css.map */